services:
  app:
    build: .
    ports:
      - "8000:8000"
    environment:
      - OSRM_BASE_URL=${OSRM_BASE_URL:-http://localhost:5000}
      - FUEL_L_PER_100KM=${FUEL_L_PER_100KM:-7.5}
      - FUEL_PRICE_PER_LITER=${FUEL_PRICE_PER_LITER:-15000}
    volumes:
      - .:/app
    restart: always
